*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.background{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aa0505;
}

.tony-img{
  margin-top: 8rem;
  margin-left: 5rem;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

.text{
  font-size: 5rem;
  margin-top: 2rem;
  margin-left: 8rem;
}